<div class="d-flex flex-column mr-20 align-items-center">
    <a href="{{ path(from ~ '_rating', {id: id, score: 1}) }}">
        <i class="fas fa-arrow-up {{ rating > 0 ? 'rating-up' : '' }}"></i>
    </a>    
        <p class="text-small
        {% if rating > 0 %}
            rating-up
        {% elseif rating < 0 %}
            rating-down
        {% endif %}">
            {{ rating }}
        </p>
    <a href="{{ path(from ~ '_rating', {id: id, score: -1}) }}">
        <i class="fas fa-arrow-down {{ rating < 0 ? 'rating-down' : '' }}"></i>
    </a>

</div>